body
{
  background-image: url(../img/bgartdeco.jpg);
  display: flex;
}

main
{
  width:800px;
  margin: auto;
  background-color: #fffef0;
  text-align: center;
}

main h2
{
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 2.1em;
  color: #283b42;
}

div p
{
  font-family: verdana;
  font-size: 1.2em;
  color: #000000;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

nav
{
  display: inline-block;
  width: 800px;
  font-size: 2.5em
  text-align: center;
  font-weight: bold;
}

nav ul
{
  list-style-type: none
}

nav a
{
  font-family: 'Cinzel Decorative', cursive;
  color: #000000;
  text-decoration: none;
}

nav a:hover
{
  color: #ef9632;
}

nav li
{
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.logo
{
  text-align: center;
}

h1
{
  font-family: 'Cinzel Decorative', cursive;
}

.strong
{
  font-weight: bold;
}

header
{
  display: inline-block;
  margin-top: 25px;
}

.presentation
{
  margin-top: 60px;
}

.reception
{
  margin-top: 50px;
}

.bar
{
  margin-top: 50px;
  margin-bottom: 40px;
}

.agenda
{
  margin-top: 40px;
  margin-bottom: 40px;
}

section p
{
  margin-top: 25px;
}

.agenda p
{
  margin-top: 25px;
  margin-bottom: 25px;
}

footer
{
  display: flex;
  margin-top: 40px;
}

.itineraire .logo_footer .mentions
{
  display: inline-block;
  justify-content: center;
  margin-top: 30px;
}

footer p
{
  font-weight: bold;
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo_footer
{
  width: 40%;
}

.itineraire
{
  width: 30%;
}

.itineraire p
{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3em
  font-weight: bold;
}

.mentions
{
  width: 30%;
}

.chambres section
{
  margin-bottom: 40px;
  margin-top: 40px;
}

.tableautarifs h2
{
  margin-top: 40px;
  margin-bottom: 40px;
}

.tableautarifs table
{
  margin-bottom: 40px;
}

.tableautarifs table
{
  display: inline-block;
  border: 3px solid #283b42;
}

.reservation h2
{
  margin-top: 40px;
}

td, th
{
    border: 1px solid #283b42;
    padding: 10px;
}

.tableautarifs tr
{
  font-size: 1.5em;
}

.formresa
{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid black;
}
